html,
body {
  width: 100%;
  height: auto;
}

.img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -100;
}
.main {
  padding-top: 100px;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
  z-index: -1;
}
